<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link th:href="@{/css/login.css}" rel="stylesheet" />
	</head>
		<body>
			<div id="container">
			<header>
				<div th:if="${login}" >
					로고, 로그아웃 마이페이지
				</div>
			</header>
			<section>
				<h1>중앙 통합 로그인</h1>
				<div>
					<img 
					id="jo_logo" 
					th:src="@{/images/joins_logo.png}" 
					alt="jo_logo1!"/>			
				</div>
				<div>
					<button 
					id="login_button"
					th:onclick="onClick()"
					>카카오 로그인</button>	
				</div>
			</section>
			<footer>
				<div id="logo_container" th:if="${login}">
					<img 
					class="logos" 
					th:src="@{/images/megabox_logo.png}" 
					alt="megabox"/>
					<img 
					class="logos" 
					th:src="@{/images/phoenix_logo.png}" 
					alt="phoenix"/>
					<img 
					class="logos" 
					th:src="@{/images/jtbc_logo.png}" 
					alt="jtbc"/>
					<img 
					class="logos" 
					th:src="@{/images/joongang_logo.jpg}" 
					alt="joongang"/>
				</div>		
			
			</footer>
		</div>
	</body>
</html>

<!--
		
	<script type="text/javascript" th:src="@{/js/login.js}"></script>  -->
