<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
		<th:block layout:fragment="content">
			<div class="content1">
				<div id="error_message" th:text="${error_message}"></div>
				<div>
					<h1>중앙 통합 로그인</h1>
				</div>
				<div>
					<img 
					id="jo_logo" 
					th:src="@{/images/joins_logo.png}" 
					alt="jo_logo1!"/>		
				</div>
				<div>
					<button id="login_button">
					<img 
						id="kakao_logo" 
						th:src="@{/images/kakao_logo.png}" 
						alt="kakao_logo"/> 카카오 로그인
					</button>	
				</div>
			<script type="text/javascript" th:src="@{/js/login.js}"></script>
			</div>			
			<div class="content2 hidden">
				<div>
					<img 
					id="user_logo" 
					src="images/user_logo.png" 
					alt="user_logo!"/>		
					<img 
					id="gift_logo"
					src="images/gift_logo.png" 
					alt="gift_logo!"/>					  
				</div>
				<div id="level_joins_name">
					<span id="joins" class="circle hidden">j</span>
					<span id="level" class="circle">L</span>
					<span id="user_name">홍길동</span><span>님 환영합니다</span>
				</div>
				<div class="black_bg"></div>
				<div class="modal_wrap">
					<div class="modal_close">X</div>
					<div class="modal_contents"></div>
				</div>
				<script type="text/javascript" th:src="@{/js/afterLogin.js}"></script>
			</div>
		</th:block>
</html>