<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<script type="text/javascript" th:src="@{/js/token.js}"></script>
<head>
<meta charset="UTF-8">
<title>layout</title>
<th:bloc th:replace="config::config"></th:bloc>
</head>
<body>
	<th:bloc th:replace="header::header"></th:bloc>
	<th:bloc layout:fragment="content"></th:bloc>
	<th:bloc th:replace="footer::footer"></th:bloc>
	<script type="text/javascript">

		//setCookie('refresh', 'rrrr1212144444', 1);
		//리프레쉬가 있으면 로그인 사용자임
		if(getCookie("refresh")) {
			document.querySelector(".header").classList.remove("hidden");
			document.querySelector(".content2").classList.remove("hidden");
			document.querySelector(".content1").classList.add("hidden");

			//access 토큰이 없다 새 토큰 요청
			if(getCookie("access") === null) {
				//header에 refresh 넣어서
				//비동기로 해서 access 토큰 받아옴
				setCookie('access', 'aaaaaa212144444', 1);
			}

			//header에 access를 넣어서 user정보를 받아온다
			//그리고 화면에 뿌림
			const user = {
					userSeq: 1,
					userName: "김지슬",
					userEmail: "sone1118@naver.com",
					userBirth: new Date(),
					userRole: "ADMIN",
					userGrade: "BRONZE",
					userAgreeMarketing: true,
					userAgreeSns: true,
			};

			const grade = document.querySelector("#level")
			document.querySelector("#user_name").innerText = user.userName;
			
			if(user.userRole === "JOINS") document.querySelector("#joins").classList.remove("hidden");
			if(user.userGrade === "BRONZE") grade.innerText = "B";
			else if(user.userGrade === "SILVER") grade.innerText = "S";
			else if(user.userGrade === "GOLD") grade.innerText = "G";
		}
		else {
			document.querySelector(".header").classList.add("hidden");
			document.querySelector(".content2").classList.add("hidden");
			document.querySelector(".content1").classList.remove("hidden");
		}
	
	</script>
</body>
</html>