<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<link rel="stylesheet" th:href="@{/css/login.css}"/>
	<script type="text/javascript" th:src="@{/js/event.js}"></script>
<head>
<meta charset="UTF-8">
<title>layout</title>
<th:bloc th:replace="config::config"></th:bloc>
</head>
<body>
	<th:block th:replace="header::header"></th:block>
	<th:block layout:fragment="content"></th:block>
	<th:block th:replace="footer::footer"></th:block>
</body>
</html>