<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout}">
		<th:block layout:fragment="content">
			<div class="content3">
				<div>
					<img 
					id="user_logo" 
					th:src="@{/images/user_logo.png}" 
					alt="user_logo!"/>						  
				</div>
				<div>
					<h2>회원정보</h2>
				</div>
				<div id="user_info">
					<div>
						<span>이름</span><span id="userName">userName</span>
					</div>
					
					<div>
						<span>이메일</span><span id="userEmail">userEmail</span>
					</div>
					
					<div>
						<span>생년월일</span><span id="userBirth">birth</span>
					</div>
					
					<div>
						<span>가입일</span><span id="userCreateAt">createAt</span>
					</div>
					<div>
						<span>회원등급</span><span id="userGrade">userGrade</span>
					</div>	
				</div>
			</div>
			<hr>
			<div id="joins_check">
			<span>회원 탈퇴</span>
			<a href="#">중앙그룹 임직원이신가요?</a>
			</div>
			<br>
			<script type="text/javascript" th:src="@{/js/mypage.js}"></script>
		</th:block>
</html>